#state {
  grid-column: 1;
}

#zipCode {
  grid-column: 2;
}

body.active-modal {
  overflow-y: hidden;
}

h2 {
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.btn-modal {
  background-color: #8ca0c7;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  padding: 10px 20px;
  text-align: left;
}

.checkbox-field {
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.checkbox-field input[type='checkbox'] {
  margin-left: 5px;
  order: 2;
}

.checkbox-field label {
  display: flex;
  white-space: nowrap;
}

.clear-button {
  position: absolute;
  right: 10px;
  top: 70%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.clear-button:hover {
  color: #000;
}

.close-success-modal {
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid transparent;
  background-color: #d9534f;
  color: white;
  transition: border-color 0.3s ease;
}

.close-success-modal:hover {
  border-color: #000;
  font-weight: bold;
  cursor: pointer;
}

.close-modal {
  background-color: #d9d9d9;
  border: none;
  display: inline-block;
  margin-right: 10px;
  padding: 5px 15px;
  cursor: pointer;
  transition: font-weight 0.3s ease;
  transition: border 0.3s ease;
}

#confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.delete-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
}

.delete-modal-content {
  background: #fff;
  border-radius: 8px;
  max-width: 530px;
  width: 90%;
  padding: 40px 40px 25px 30px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1150;
}

.delete-modal-header h2 {
  margin-bottom: 20px;
  margin: 0;
  padding-bottom: 5%;
  text-align: left;
  font-size: 1.5rem;
  color: #333;
}

.delete-submit-close-modal {
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid transparent;
  background-color: #d9534f;
  color: white;
  transition: border-color 0.3s ease;
}

.delete-submit-close-modal:hover {
  border-color: #000; /* Change border color on hover */
  font-weight: bold;
  cursor: pointer;
}

.delete-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
}

.delete-modal-content {
  background: #fff;
  border-radius: 8px;
  max-width: 530px;
  width: 90%;
  padding: 40px 40px 25px 30px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1150;
}

.delete-modal-header h2 {
  margin-bottom: 20px;
  margin: 0;
  padding-bottom: 5%;
  text-align: left;
  font-size: 1.4rem;
  color: #333;
}

.edit-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.edit-icon {
  cursor: pointer;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.edit-icon:hover {
  transform: scale(1.2);
  color: #3f51b5;
}

.id-number {
  flex-grow: 1;
  text-align: center;
}

.input-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  max-width: 600px;
  padding: 3%;
  padding-bottom: 10%;
  width: 100%;
}

.input-field {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
  text-align: left;
}

.error {
  border: 1px solid red;
}

.input-field .error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 0.25em;
}

.input-flex {
  width: 100%;
  padding-right: 30px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
}

.input-flex-error {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid red;
  border-radius: 4px;
}

.input-multi-select {
  border: 1px solid black;
}

.input-wrapper {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}

.input-symbol-left {
  position: absolute;
  margin-left: 0.5rem;
  pointer-events: none;
  color: gray;
}

.input-symbol-right {
  position: absolute;
  right: 0.5rem;
  pointer-events: none;
  color: gray;
}

.modal {
  align-items: center;
  display: flex;
  height: 80%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1051;
}

.modal-content {
  background: #f1f1f1;
  border-radius: 3px;
  left: 50%;
  line-height: 1.4;
  margin-top: 5%;
  max-width: 600px;
  min-width: 300px;
  padding: 14px 28px;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 1100;
}

.modal-header {
  padding: 2px 16px;
}

.modal,
.overlay {
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
}

.submit-close-delete-modal,
.close-success-modal {
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid transparent;
  background-color: #d9534f;
  color: white;
  transition: border-color 0.3s ease;
}

.submit-close-delete-modal:hover,
.close-success-modal:hover {
  border-color: #000;
  font-weight: bold;
  cursor: pointer;
}

.submit-close-modal {
  background-color: #d9d9d9;
  border: none;
  display: inline-block;
  padding: 5px 15px;
  cursor: pointer;
  transition: font-weight 0.2s ease;
  transition: border 0.2s ease;
}

.success-modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.success-modal-header {
  display: flex;
  justify-content: center;
}

.success-modal-body {
  text-align: center;
  margin-top: 10px;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}

.percentage-container {
  display: inline-flex;
  align-items: baseline;
  font-size: 20px; /* Adjust as needed */
  color: black; /* Ensures the color is black */
}
.percent-sign {
  margin-left: 2px; /* Adjust as needed */
}

.success-modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.success-modal-header {
  display: flex;
  justify-content: center;
}

.success-modal-body {
  text-align: center;
  margin-top: 10px;
}

.close-modal,
.submit-close-modal {
  width: 100px; /* Fixed width */
  padding: 10px; /* Fixed padding */
  box-sizing: border-box; /* Ensure padding and borders are included in the width and height */
  border: 1px solid transparent; /* Invisible border initially */
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease; /* Smooth transition for background and border color change */
}

.close-modal:hover,
.submit-close-modal:hover {
  background-color: #8ca0c7; /* Change background color on hover */
  border-color: #000; /* Change border color on hover */
  font-weight: bold; /* Make text bold on hover */
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
}

textarea {
  resize: none;
}

.clear-button {
  position: absolute;
  right: 10px;
  top: 70%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.clear-button-error {
  position: absolute;
  right: 10px;
  top: 70%;
  transform: translateY(-130%);
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.search-table {
  display: flex; 
  justify-content: flex-end;
  transform: translate(-1%, 30%);
}

.clear-button:hover {
  color: #000;
}

.close-modal:hover,
.submit-close-modal:hover {
  font-weight: bold;
  border: 2px solid #000;
}
